body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("src/pinknight.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 72px;
  font-family: "CustomFont";
  margin-top: 0;
  margin-bottom: 20px;
}
h2 {
  font-size: 36px;
  font-family: "CustomFont";
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  font-family: "CustomFont";
}
button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: "CustomFont";
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#increment-btn {
  background: #ff69b4;
}
#save-btn {
  background: #8a1253;
}
.container {
  display: block;
  max-width: 80%;
  background: #fff5ee;
  border-radius: 8px;
  padding: 30px;
  border: 10px solid #680f3e;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.backlink {
  font-size: 12px;
  font-family: "CustomFont";
}

.backlink a {
  color: darkorchid;
}
@font-face {
  font-family: "CustomFont";
  src: url("hyggemanddemoregular-yy0pm-webfont.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
